@font-face {
  font-family: 'TUIType LATN';
  src: url(~assets/fonts/TUIType_LATN_W_Bd.ttf);
}

@font-face {
  font-family: 'TUIType LATN';
  src: url(~assets/fonts/TUIType_LATN_W_BdIt.ttf);
}

@font-face {
  font-family: 'TUIType LATN';
  src: url(~assets/fonts/TUIType_LATN_W_It.ttf);
}

@font-face {
  font-family: 'TUITypeLight LATN';
  src: url(~assets/fonts/TUITypeLt_LATN_W_Bd.ttf);
}

@font-face {
  font-family: 'TUITypeLight LATN';
  src: url(~assets/fonts/TUITypeLt_LATN_W_BdIt.ttf);
}

@font-face {
  font-family: 'TUITypeLight LATN';
  src: url(~assets/fonts/TUITypeLt_LATN_W_It.ttf);
}

@font-face {
  font-family: 'TUITypeLight LATN';
  src: url(~assets/fonts/TUITypeLt_LATN_W_Rg.ttf);
}

html {
  font-family: 'TUITypeLight LATN';
  font-style: normal;
  font-weight: normal;
  background-color: rgb(241, 235, 235);
  display: flex;
}

* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px 30px;
  color: #345;
}

ul {
  list-style: none;
}

a {
  color: #345;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid white;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  transition: all 0.3s;
  font-size: 1rem;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  border-color: #87f;
}
